@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-border: #717171;
  --color-bg: #f0f1f3;
}
body {
  font-family: "Inter", sans-serif;
  color: black;
}
button,
input,
select,
textarea:focus {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.my-container {
  overflow: auto; /* container'ı kaydırılabilir yap */
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.my-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, newer Edge */
}

/* Chrome, Safari, Edge, Opera için spin butonlarını kaldır */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Webkit browsers (Chrome, Safari, newer Edge) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #949596;
  border-radius: 10px;
  min-height: 40px;
}

::-webkit-scrollbar-track {
  background-color: #e5e7eb;
}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}
